<% provide(:title, 'Sign in') %>
<h1><%= t("text.login") %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

        <%=  f.label :email, t("text.login_or_email")%>
        <%=  f.text_field :email %>

        <%=  f.label :password, t("text.password") %>
        <%= f.password_field :password %>
        <br>
        <%= f.submit t("text.login"), class: "btn btn-large btn-primary" %>
    <% end %>

    <p><%= t("text.newuser?") %> <%= link_to t("text.new_user"),  signup_path %></p>
  </div>
</div>