<%= form_for(@work) do |f| %>
    <% if @work.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

          <ul>
            <% @work.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>



     <%= f.label :date %>
    <%=  f. datepicker :date,  { dateFormat: 'dd.mm.yy' } %>

    <table>
      <tr>
      <th> <%= f.label :start_at %></th>
      <th> <%= f.label :end_at %></th>
      <th>  <%= f.label :pause %></th>
     </tr>
     <tr>
       <td> <%= f.time_select :start_at,{ :default => "2000-01-01 07:30".to_datetime, :minute_step => 15}, :style => "width: 60px"   %></td>
       <td>  <%= f.time_select :end_at, {:default => "2000-01-01 16:00".to_datetime, :minute_step => 15},:style => "width: 60px" %></td>
       <td>  <%= f.time_select :pause, { :default => "2000-01-01 00:30".to_datetime, :minute_step => 15},:style => "width: 60px" %></td>
     </tr>
    </table>

      <%= f.label :task %>
      <%= f.select :task_id, @tasks.each.map { |t| [t.name+' '+t.client.name, t.id]}    %>

      <%= f.label :description %>
      <%= f.text_area :description, rows: 2 %>


    <div>
      <%= submit_tag t("links.button_save") ,  class: "btn btn-large btn-primary"   %>
    </div>
<% end %>



