<% provide(:title, 'Works') %>
<h1>AKN</h1>
<h5><%= @username %></h5>

<table>
  <tr>
    <th width="100px">Date</th>
    <th width="20px">Week</th>
    <th width="100px">Day</th>
    <th width="100px">Start_at</th>
    <th width="100px">End_at</th>
    <th width="100px">Pause</th>
    <th width="40px">Hours</th>
    <th width="100px">Project</th>
    <th width="100px">Client</th>
    <th width="100px">Description</th>

  </tr>

<% @works.each do |work| %>
  <tr>
    <td><%= l work.date %></td>
    <td><%= work.week %></td>
    <td><%= work.day %></td>
    <td><%= l work.start_at, format: :short %></td>
    <td><%= l work.end_at, format: :short %></td>
    <td><%= l work.pause, format: :short %></td>
    <td><%= number_with_precision(work.working_hours, :precision => 2) %></td>
    <td><%= work.client.project %></td>
    <td><%= work.client.name %></td>
    <td><%= work.description %></td>
    <td></td><td></td><td></td>

     <td><%= link_to 'Edit', edit_work_path(work) %></td>
    <td><%= link_to 'Delete', work, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
 <div>
   <%= link_to 'Add new Work', new_work_path %>
</div>
