<% provide(:title, 'Works') %>
<h5><%= @username %></h5>

<table id="works" class="display">
  <thead>
  <tr>
    <th><%= t("text.work_index_date") %></th>
    <th><%= t("text.work_index_week") %></th>
    <th><%= t("text.work_index_start_at") %></th>
    <th><%= t("text.work_index_end_at") %></th>
    <th>Pause</th>
    <th><%= t("text.work_index_hours") %></th>
    <th><%= t("text.work_index_project") %></th>
    <th><%= t("text.work_index_client") %></th>
    <th><%= t("text.work_index_task") %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
 <% @works.each do |work| %>
  <tr>
    <td><%= l work.date %></td>
    <td><%= work.week %></td>
    <td><%= l work.start_at, format: :short %></td>
    <td><%= l work.end_at, format: :short %></td>
    <td><%= l work.pause, format: :short %></td>
    <td><%= number_with_precision(work.working_hours, :precision => 2) %></td>
    <td><%= work.client.project %></td>
    <td><%= work.client.name %></td>
    <td><%= work.task.name %></td>
    <td><%= link_to t("links.work_index_show"), work_path(work)%></td>
    <% if work.passed? %>
         <td></td>
        <td></td>
   <% else %>
        <td><%= link_to t("links.work_index_edit"), edit_work_path(work) %></td>
        <td><%= link_to t("links.work_index_delete"), work, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
   </tr>
<% end %>
  </tbody>
</table>
<br />
 <div>
   <%= link_to t("links.work_index_add_new"), new_work_path %>
</div>
