<h1>AKN</h1>


<table>
  <tr class ="ueberschrift">
    <th>Datum</th>
    <th>Kw</th>
    <th>Tag</th>
    <th>Von</th>
    <th>Bis</th>
    <th>Pause</th>
    <th>Stunden</th>
    <th>Projekt</th>
    <th>Kunde</th>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @works.each do |work| %>
  <tr>
    <td><%= l work.datum %></td>
    <td><%= work.kw %></td>
    <td><%= work.tag %></td>
    <td><%= l work.von, format: :short %></td>
    <td><%= l work.bis, format: :short %></td>
    <td><%= l work.mm, format: :short %></td>
    <td><%= work.std %></td>
    <td><%= work.pbez %></td>
    <td><%= work.kunde %></td>
    <td><%= work.erl %></td>
    <td><%= link_to 'Show', work %></td>
    <td><%= link_to 'Edit', edit_work_path(work) %></td>
    <td><%= link_to 'Destroy', work, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Erfassen', new_work_path %>
