<% provide(:title, 'Works') %>

<% if @notice != nil %>
    <p id="notice"><%= @notice %></p>
<% end %>
<div>
  <table class="table table-bordered">
    <br><br>
    <tr >
      <td><b><%= t('text.work_index_date')%></b></td>
      <td><%= l @work.date %></td>
    </tr>
    <tr>
      <td><b><%= t('text.work_index_week')%></b></td>
      <td><%= @work.week %></td>
    </tr>
    <tr>
      <td><b><%= t('text.work_index_day') %></b></td>
      <td><%= @work.day %></td>
    </tr>
    <tr>
    <td><b><%= t('text.work_index_start_at')%></b></td>
    <td><%= l @work.start_at, format: :short %></td>
    </tr>
    <tr>
      <td><b><%= t('text.work_index_end_at') %></b></td>
      <td><%= l @work.end_at, format: :short %></td>
    </tr>
    <tr>
      <td><b>Pause:</b></td>
      <td><%= l @work.pause, format: :short %></td>
    </tr>
    <tr>
      <td><b><%= t('text.work_index_client') %></b></td>
      <td><%= @work.client.name %></td>
    </tr>
    <tr>
      <td><b><%= t('text.work_index_project') %></b></td>
      <td><%= @work.task.name %></td>
    </tr>
    <tr>
      <td><b><%= t('text.work_index_describ') %></b></td>
      <td><%= @work.description %></td>
    </tr>
</div>
</table>