<div class="row">
  <div class="offset1">
    <h4><%= t("text.menu_sel_tasks") %></h4>
    <%=  form_tag works_path do %>
        <%=  label_tag t("text.tasks_title") %>
        <%=  select_tag 'task', options_for_select(@tasks.each.map {|t| t.name}) %><br>
        <%=  submit_tag "GO"   %>
    <% end %>
  </div>
</div>
