<% provide(:title, @user.lastname) %>
<div class="row">
  <aside>
    <section>
      <h1>
        <% if @user.photo.present? %>
            <%= image_tag @user.photo, :size => '64x64' %>

        <% else %>
            <%= image_tag "rails.png", :size => '64x64' %>
        <% end %>
        <%= @user.firstname %>
        <%= @user.lastname %>
      </h1>
      <table class="table table-bordered">
        <br><br>
        <tr>
          <td><b><%= t("text.user_show_firstname") %>:</b></td>
          <td><%= @user.firstname %></td>
        </tr>
        <tr>
          <td><b><%= t("text.user_show_lastname") %>:</b></td>
          <td><%= @user.lastname %></td>
        </tr>
        <tr>
        <td><b>E-Mail</b></td>
        <td><%= @user.email %></td>
        </tr>
        <tr>
          <td><b>Login-Name</b></td>
          <td><%= @user.login %></td>
        </tr>
      </table>
    </section>
  </aside>
</div>