<% if @client.errors.any?  %>
    <div id="error_explanation">
      <div class="alert alert-error">
        The form contains <%= pluralize(@user.errors.count, "error") %>.
      </div>
      <ul>
        <% @client.errors.full_messages.each do |msg| %>
            <li>* <%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

    <%= f.label :name %><br />
    <%= f.text_field :name %>


    <%= f.label :project %><br />
    <%= f.text_field :project %>


