<% provide(:title, 'Clients') %>
<div class="row">
  <div class="offset1">
    <h3><%= t("text.client_title") %></h3><br>
    <table class="table table-condensed">
      <tr>
        <th>Name</th>
        <th><%= t("text.work_index_project") %></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @clients.each do |client| %>
          <tr>
            <td><%= client.name %></td>
            <td><%= client.project %></td>
            <td><%= link_to t("links.work_index_show"), client %></td>
            <td><%= link_to t("links.work_index_edit"), edit_client_path(client) %></td>
            <td><%= link_to t("links.work_index_delete"), client, confirm: 'Are you sure?', method: :delete %></td>
          </tr>
      <% end %>
    </table>

    <br/>

    <%= link_to t("text.client_new"), new_client_path %>
  </div>
</div>