<% provide(:title, 'Show Client') %>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @client.name %>
</p>

<p>
  <b><%= t("text.work_index_describ") %></b>
  <%= @client.description %>
</p>


<%= link_to t("links.button_edit"), edit_client_path(@client) %> |
<%= link_to t("links.button_back"), clients_path %>
