<% provide(:title, 'Clients') %>
<div class="row">
  <div class="offset1">
    <h3><%= t("text.project_title") %></h3><br>

    <table  class="table table-condensed">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @projects.each do |project| %>
          <tr>
            <td><%= project.name %></td>
            <td><%= project.description %></td>
            <td><%= link_to 'Show', project %></td>
            <td><%= link_to 'Edit', edit_project_path(project) %></td>
            <td><%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %></td>
          </tr>
      <% end %>
    </table>

    <br/>

    <%= link_to 'New Project', new_project_path %>

  </div>
</div>
