<% provide(:title, 'Calendars') %>
<div class="row">
  <div class="offset1">
    <h3><%= t("text.calendar_title") %></h3><br>
    <table class="table table-condensed">
      <tr>
        <th>Name</th>
        <th><%= "Kalenderwoche" %></th>
        <th><%= "Arbeitstag " %></th>
        <th><%= "Stunden" %></th>
        <th></th>
      </tr>
      <% @calendars.each do |calendar| %>
          <tr>
            <td><%= calendar.datum %></td>
            <td><%= calendar.kaltag %></td>
            <td><%= calendar.arbeitstag %></td>
            <td><%= calendar.stunden %></td>
            <td><%= link_to (image_tag "edit.jpg", :title => t("links.work_index_edit") ), edit_calendar_path(calendar) %></td>
          </tr>
      <% end %>
    </table>
    <br/>
  </div>
</div>