<% if @report.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        The form contains <%= pluralize(@report.errors.count, "error") %>.
      </div>
      <ul>
        <% @report.errors.full_messages.each do |msg| %>
            <li>* <%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class="select">
  <%= f.label t('messages.report_user') %>
  <%= f.select :username, options_for_select(@users.each.map { |u| u.lastname+' '+u.id.to_s }) %>
  <%= f.label t("text.work_index_client") %>
  <%= f.select :projectname, options_for_select(Project.all.map { |p| p.name+' ' + p.client.name }) %>
  <br>
  <%= f.label t("text.work_index_start_at") %>
  <%= f.datepicker :period_begin, dateFormat: 'dd.mm.yy' %> <br>
  <%= f.label t("text.work_index_end_at") %>
  <%= f.datepicker :period_end, dateFormat: 'dd.mm.yy' %> <br>
  <label class="radio">
    <%= f.radio_button :passed, value= '1' %>
    <%= t('messages.report_passed') %>
  </label>
  <label class="radio">
    <%= f.radio_button :passed, value='2' %>
    <%= t('messages.report_passed_op2') %>
  </label>
</div>


