<% provide(:title, 'Output Reports') %>
<% if @format == 'pdf' %>
<img src= <%=   Gchart.bar(:data => @bar_chart,
                           :title => 'Monthly working hours',
                           :bar_colors => '76A4FB',
                           :background => 'EEEEEE',
                           :chart_background => 'CCCCCC',
                           :legend => 'Monthly working days',
                           :axis_with_labels =>  'x',
                           :axis_labels => @xdata,
                           :size => '700x400')

   %> />
<% else %>
    <div id="hours_chart"  style="width: 860px; height: 300px;"></div>
    <script type="text/javascript" charset="utf-8">
        $(function() {
            new Highcharts.Chart( {
                chart:  {
                    renderTo: "hours_chart"
                },
                title: {
                    text: "Working hours by day"
                } ,
                xAxis: {
                    type: "datetime"
                },
                yAxis: {
                    title: {
                        text: "Hours"
                    }
                },
                tooltip: {
                    formatter: function() {
                        return Highcharts.dateFormat("%B %e %Y", this.x) + ': ' +
                                Highcharts.numberFormat(this.y,2) + "h";
                    }
                },
                legend: {
                    title: {
                        text: "Monthly Working Days",
                        style: {
                            fontStyle: "italic"
                        }
                    },
                    width: 160,
                    legendItemWidth: 100
                },
                series: [{
                    pointInterval: <%= 1.day * 1000 %>,
                    pointStart: <%= @works.first.date.to_datetime.to_i * 1000 %>,
                    type: "column",
                    data: <%= (@works.first.date..@works.last.date).map { |date| Work.total_on(date,@works).to_f}.inspect %> ,
                    name: "Hours by day"
                }]
            });
        } );
    </script>
<% end %>
<table>
  <div><%= t("messages.report_month") %><%= @akt_monat %> </div>
  <tr>
    <th width="100px"><%= t("text.work_index_date") %></th>
    <th width="20px"><%= t("text.work_index_week") %></th>
    <th width="100px"><%= t("text.work_index_date") %></th>
    <th width="100px"><%= t("text.work_index_start_at") %></th>
    <th width="100px"><%= t("text.work_index_end_at") %></th>
    <th width="100px">Pause</th>
    <th width="100px"><%= t("text.work_index_hours") %></th>
    <th width="100px"><%= t("text.work_index_project") %></th>
    <th width="100px"><%= t("text.work_index_client") %></th>
    <th width="100px"><%= t("text.work_index_describ") %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @works.each do |work| %>
      <tr>
        <td><%= l work.date %></td>
        <td><%= work.week %></td>
        <td><%= work.day %></td>
        <td><%= l work.start_at, format: :short %></td>
        <td><%= l work.end_at, format: :short %></td>
        <td><%= l work.pause, format: :short %></td>
        <td><%= number_with_precision(work.working_hours, :precision => 2) %></td>
        <td><%= work.client.project %></td>
        <td><%= work.client.name %></td>
        <td><%= work.description %></td>
      </tr>
  <% end %>
  <tr>
    <td colspan="6">Total</td>
    <td><%= number_with_precision(@total_std, :precision => 2) %></td>
  </tr>
  </table>
<br>
<table border>
  <colgroup>
    <col width=80>
    <col width=50 align=char char=".">
  </colgroup>
  <tr>
    <td><%= t("messages.report_average") %></td>
    <td> <%= number_with_precision(@w_avg, :precision => 2) %></td>
  </tr>
  <tr>
    <td>Minimum:</td>
    <td><%= number_with_precision(@w_min, :precision => 2) %></td>
  </tr>
  <tr>
    <td>Maximum:</td>
    <td> <%= number_with_precision(@w_max, :precision => 2) %></td>
  </tr>
  <tr>
    <td><%= t("messages.report_days") %></td>
    <td><%= number_with_precision(@w_days, :precision => 2) %></td>
  </tr>
</table>


