<table>
  <div>Monat: <%= @akt_monat %> </div>
  <tr>
    <th width="100px">Date</th>
    <th width="20px">Week</th>
    <th width="100px">Day</th>
    <th width="100px">Start_at</th>
    <th width="100px">End_at</th>
    <th width="100px">Pause</th>
    <th width="100px">Hours</th>
    <th width="100px">Project</th>
    <th width="100px">Client</th>
    <th width="100px">Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @works.each do |work| %>
      <tr>
        <td><%= l work.date %></td>
        <td><%= work.week %></td>
        <td><%= work.day %></td>
        <td><%= l work.start_at, format: :short %></td>
        <td><%= l work.end_at, format: :short %></td>
        <td><%= l work.pause, format: :short %></td>
        <td><%= number_with_precision(work.working_hours, :precision => 2) %></td>
        <td><%= work.client.project %></td>
        <td><%= work.client.name %></td>
        <td><%= work.description %></td>
      </tr>
  <% end %>
  <tr>
    <td colspan="6">Total</td>
    <td><%= number_with_precision(@total_std, :precision => 2) %></td>
  </tr>
</table>
