<% if @format == 'pdf' %>
<img src= <%=chart_pdf %> />
<% else %>
    <div id="hours_chart"  style="width: 860px; height: 300px;"></div>
    <script type="text/javascript" charset="utf-8">
        $(function() {
            new Highcharts.Chart( {
                chart:  {
                    renderTo: "hours_chart"
                },
                title: {
                    text: "Working hours by day"
                } ,
                xAxis: {
                    type: "datetime"
                },
                yAxis: {
                    title: {
                        text: "Hours"
                    }
                },
                tooltip: {
                    formatter: function() {
                        return Highcharts.dateFormat("%B %e %Y", this.x) + ': ' +
                                Highcharts.numberFormat(this.y,2) + "h";
                    }
                },
                legend: {
                    title: {
                        text: "Monthly Working Days",
                        style: {
                            fontStyle: "italic"
                        }
                    },
                    width: 160,
                    legendItemWidth: 100
                },
                series: [{
                    pointInterval: <%= 1.day * 1000 %>,
                    pointStart: <%= @works.first.date.to_datetime.to_i * 1000 %>,
                    type: "column",
                    data: <%= (@works.first.date..@works.last.date).map { |date| Work.total_on(date,@works).to_f}.inspect %> ,
                    name: "Hours by day"
                }]
            });
        } );
    </script>
<% end %>
<table>
  <div>Monat: <%= @akt_monat %> </div>
  <tr>
    <th width="100px">Date</th>
    <th width="20px">Week</th>
    <th width="100px">Day</th>
    <th width="100px">Start_at</th>
    <th width="100px">End_at</th>
    <th width="100px">Pause</th>
    <th width="100px">Hours</th>
    <th width="100px">Project</th>
    <th width="100px">Client</th>
    <th width="100px">Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @works.each do |work| %>
      <tr>
        <td><%= l work.date %></td>
        <td><%= work.week %></td>
        <td><%= work.day %></td>
        <td><%= l work.start_at, format: :short %></td>
        <td><%= l work.end_at, format: :short %></td>
        <td><%= l work.pause, format: :short %></td>
        <td><%= number_with_precision(work.working_hours, :precision => 2) %></td>
        <td><%= work.client.project %></td>
        <td><%= work.client.name %></td>
        <td><%= work.description %></td>
      </tr>
  <% end %>
  <tr>
    <td colspan="6">Total</td>
    <td><%= number_with_precision(@total_std, :precision => 2) %></td>
  </tr>
</table>
