<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to t("text.akn_title"), root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
              <li><%= link_to t("text.menu_works"), works_path %></li>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Report <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to t("text.menu_display"), input_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to t("text.menu_excel"), excel_path %></li>
                  <% unless Rails.env.production? %>
                      <li><%= link_to "PDF", pdf_path %></li>
                  <% end %>
                </ul>
              </li>
              <% if current_user.admin? %>
                  <li id="fat-menu" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Admin<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to t("text.menu_clients"), clients_path %></li>
                      <li><%= link_to t("text.menu_tasks"), tasks_path %></li>
                      <li><%= link_to t("text.menu_users"), users_path %></li>
                      <li><%= link_to t("text.menu_admin_period"), admperiod_path %></li>
                    </ul>
                  </li>
              <% end %>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= t("text.menu_locales") %><b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to t("text.menu_locales_de"), locale_path('de') %></li>
                  <li><%= link_to t("text.menu_locales_en"), locale_path('en') %></li>
                </ul>
              </li>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= t("text.menu_account") %><b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to t("text.menu_profil"), edit_user_path(current_user) %></li>
                  <li><%= link_to t("text.menu_settings"), current_user %></li>
                  <li class="divider"></li>
                  <li> <%= link_to t("text.menu_logout"), logout_path, method: "delete" %></li>
                </ul>
              </li>
          <% else %>
              <li><%= link_to t("text.menu_signin"), login_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
