<!DOCTYPE html>
<html>
<head>
  <title>Akn</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
<div id="banner">
    <%= image_tag("aral.jpg") %>
    <%= @page_title || "Arbeitskostennachweis" %>
</div>
<div id="columns">
    <div id="side"
         <ul>
           <% if user_signed_in? %>
                <li><%= link_to 'AKN', works_path %></li>
                <li><%= link_to 'Report', reports_path %></li>
                <br/>
                <li><%= link_to 'Logout', logout_path, method: :delete %></li>
           <% else %>
               <li><%= link_to 'Login', login_path %></li>
               <li><%= link_to 'Benutzer', new_user_path %></li>
           <% end %>
         </ul>
    </div>
    <div id="main">
    	<% if flash[:alert] %>
    	<p id="alert">
    		<%= flash[:alert] %>
    	</p>
    	<% end %>
    		
         <%= yield %>
    </div>
</div>
</body>
</html>
